* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    margin-top: 20vh;
    position: relative;
}

.search-container input {
    width: 30vw;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

.search-container input:focus {
    outline: none;
}

.search-container i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

